RewriteEngine On

# Bloquer tout accès direct aux fichiers sauf index.php
RewriteCond %{REQUEST_URI} !^/admin/index.php$
RewriteCond %{REQUEST_URI} !^/admin/$
RewriteRule ^admin/.*$ /admin/index.php [L,R=302]

# Autoriser les accès internes mais bloquer les accès directs externes aux fichiers PHP
<FilesMatch "\.php$">
    Require local
</FilesMatch>

# Protection directe des fichiers sensibles
<FilesMatch "(configuration\.php|submit\.php)">
    Require all denied
</FilesMatch>
